.container{
   display: flex;
  
}

.landing{
    width: 100%;
display: flex;
align-items: center;
justify-content:space-around;
background: #0E0F11; 
}

.vid{
    width: 633px;
    height: 462px;
    background: rgb(0, 0, 0);
}

.title{
    color: aliceblue;
    width: 633px;
    height: 162px;
    letter-spacing: 3px;
    font-size: 36px;
    align-items: center;
    font-weight: bold;
}

